<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <div class="flex flex-row gap-2">
    <input matInput
           type="number"
           min="0"
           max="24"
           [disabled]="disabled"
           [value]="hours()"
           (input)="setHours($any($event.target).value)"
           (blur)="onTouched()">
    <span>:</span>
    <input matInput
           type="number"
           min="0"
           max="45"
           step="15"
           [disabled]="disabled"
           [value]="minutes()"
           (input)="setMinutes($any($event.target).valueAsNumber)"
           (blur)="onTouched()">
  </div>
</mat-form-field>

<mat-list>
  @for (preset of presets; track preset.label) {
    <mat-chip [disabled]="disabled" (click)="setPreset(preset.value)">
      {{ preset.label }}
    </mat-chip>
  }
</mat-list>
