<mat-card>
  <mat-card-header>
    <mat-card-title>
        Monthly Summary - {{ logged() | duration }} / {{ expected() | duration }} ({{ logged() / expected() * 100 | number:'1.1-2' }}%)
    </mat-card-title>
    <mat-card-subtitle>
      <mat-progress-bar mode="determinate" [value]="logged() / expected() * 100"></mat-progress-bar>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <table>
      <tr>
        <th>Project</th>
        @for (workType of workTypes; track workType.id) {
          <th>
            <div class="flex flex-row gap-1 align-items-center">
              @if (workType.symbol) {
                <mat-icon>{{ workType.symbol }}</mat-icon>
              }
              {{ workType.label }}
            </div>
          </th>
        }
        <th>Total</th>
      </tr>

      @for (row of rows; track $index) {
        <tr>
          <td>
            <app-project-dot [colour]="row.colour"></app-project-dot>
            {{ row.project }}
          </td>
          @for (workType of workTypes; track workType.id) {
            <td>
              @if (row.byType[workType.id]) {
                {{ row.byType[workType.id] | duration }}
              }
            </td>
          }
          <td>{{ row.total | duration }}</td>
        </tr>
      }
    </table>
  </mat-card-content>
</mat-card>
