<mat-drawer-container autosize>
  <mat-drawer-content>
    <mat-toolbar>
      <span>Time tracking</span>

      <span class="spacer"></span>

      <button mat-button routerLink="/calendar">
        <mat-icon>calendar_month</mat-icon>
        Calendar
      </button>

      <button mat-button routerLink="/summary">
        <mat-icon>dashboard</mat-icon>
        Summary
      </button>

      <button mat-button routerLink="/settings">
        <mat-icon>settings</mat-icon>
        Settings
      </button>

      <span class="spacer"></span>
    </mat-toolbar>

    <router-outlet />
  </mat-drawer-content>

  <mat-drawer position="end"
              mode="push"
              [autoFocus]="false"
              [opened]="drawerStateManager.isOpen()"
              (closed)="drawerStateManager.close()">
    <ng-container *ngComponentOutlet="drawerStateManager.component(); inputs: drawerStateManager.inputs()"></ng-container>
  </mat-drawer>
</mat-drawer-container>
