<mat-card>
  <mat-card-content>
    <div class="weekdays">
      @for (weekday of ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']; track weekday) {
        <div>{{ weekday }}</div>
      }
    </div>

    <div class="grid">
      @for (day of days(); track day.id) {

        <div class="day" [class.selected]="day.iso === current()">
          @if (isOff(day)) {
            <div class="flex flex-row gap-1">
              <strong>{{ day.day }}</strong>
              <span>{{ day.label }}</span>
            </div>
          }
          @else if (isWorked(day)) {
            <div class="worked"
                 [class.complete]="day.logged >= day.expected && day.expected > 0"
                 [class.missing]="day.logged < day.expected"
                 (click)="selectDate(day.iso)">

              <strong>{{ day.day }}</strong>

              <div class="small">
                {{ day.logged | duration }} / {{ day.expected | duration }}
              </div>
            </div>
          }
          @else {
            <div class="empty"></div>
          }
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
