<div class="month-nav">
  <button matButton="tonal" color="primary" matTooltip="Previous month" (click)="dateStateManager.previousMonth()">
    <mat-icon>first_page</mat-icon>
    -1 month
  </button>

  <button matButton="tonal" color="primary" matTooltip="Previous month" (click)="dateStateManager.previousDay()">
    <mat-icon>chevron_left</mat-icon>
    -1 day
  </button>

  <span class="label">{{ dateStateManager.label() }}</span>

  <button matButton="tonal" color="primary" matTooltip="Next month" (click)="dateStateManager.nextDay()">
    +1 day
    <mat-icon>chevron_right</mat-icon>
  </button>

  <button matButton="tonal" color="primary" matTooltip="Next month" (click)="dateStateManager.nextMonth()">
    -1 month
    <mat-icon>last_page</mat-icon>
  </button>

  <button matButton="tonal" color="primary" matTooltip="Today" (click)="dateStateManager.resetToCurrent()">
    <mat-icon>today</mat-icon>
    Today
  </button>
</div>
