<app-split>
  <split-left>
    <app-date-nav></app-date-nav>
    <app-calendar></app-calendar>
  </split-left>

  <split-right>
    <div class="full-width flex flex-column gap-3 align-items-center">
      <button matButton="filled" (click)="openForm()">Add time log</button>
      <app-logged-time-list [items]="timeEntryStore.items"
                            class="full-width"
                            (editClick)="openForm($event)"
                            (removeClick)="timeEntryStore.remove($event.id)">
      </app-logged-time-list>
    </div>
  </split-right>
</app-split>
