<mat-toolbar>
  <span>Time tracking</span>

  <span class="spacer"></span>

  <div class="flex flex-row gap-2">
    <button #calendarLink="routerLinkActive"
            matButton="outlined"
            routerLink="/calendar"
            routerLinkActive
            [color]="calendarLink.isActive ? 'primary' : undefined">
      <mat-icon>calendar_month</mat-icon>
      <u>C</u>alendar
    </button>

    <button #summaryLink="routerLinkActive"
            matButton="outlined"
            routerLink="/summary"
            routerLinkActive
            [color]="summaryLink.isActive ? 'primary' : undefined">
      <mat-icon>dashboard</mat-icon>
      <u>S</u>ummary
    </button>
  </div>

  <span class="spacer"></span>

  <div class="flex flex-row gap-2">
    <button #projectsLink="routerLinkActive"
            matButton="outlined"
            routerLink="/projects"
            routerLinkActive
            [color]="projectsLink.isActive ? 'primary' : undefined">
      <u>P</u>rojects
    </button>

    <button #workTypesLink="routerLinkActive"
            matButton="outlined"
            routerLink="/work-types"
            routerLinkActive
            [color]="workTypesLink.isActive ? 'primary' : undefined">
      <u>W</u>ork types
    </button>

    <button matButton="outlined" (click)="openHelpDialog()">
      <u>H</u>elp
    </button>

    <button matButton="outlined" (click)="export()">
      <mat-icon>upload</mat-icon>
      Export
    </button>

    <input #fileInput type="file" accept="application/json" hidden (change)="import($event)" />

    <button matButton="outlined" (click)="fileInput.click()">
      <mat-icon>download</mat-icon>
      Import
    </button>
  </div>

  <span class="spacer"></span>
</mat-toolbar>
