<mat-toolbar>
  <span>Time tracking</span>

  <span class="spacer"></span>

  <button mat-button routerLink="/calendar">
    <mat-icon>calendar_month</mat-icon>
    Calendar
  </button>

  <button mat-button routerLink="/summary">
    <mat-icon>dashboard</mat-icon>
    Summary
  </button>

  <span class="spacer"></span>

  <div class="flex flex-row gap-2">

    <button matButton="outlined" routerLink="/projects">
      Projects
    </button>

    <button matButton="outlined" routerLink="/work-types">
      Work types
    </button>
  </div>

  <span class="spacer"></span>
</mat-toolbar>
